@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  height: 70px;
}
.header__logo {
  font-size: 2rem;
  color: #08A6E4;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  height: 100%;
}
.header .menu__btn {
  display: none;
}
.header .menu__btn:checked ~ .header__nav {
  display: flex;
}
.header .menu__btn:checked ~ .menu__toggle span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 5px);
}
.header .menu__btn:checked ~ .menu__toggle span:nth-child(2) {
  opacity: 0;
}
.header .menu__btn:checked ~ .menu__toggle span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -5px);
}
@media (max-width: 992px) {
  .header .menu__toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    margin-bottom: 3px;
    transition: 0.3s all ease-in-out;
  }
}
.header__nav {
  display: flex;
}
@media (max-width: 992px) {
  .header__nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 2rem;
    width: 100%;
    padding: 20px 0;
    background: white;
    height: 175px;
  }
}
.header .nav__element {
  padding: 0 30px;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 0.6875rem;
  font-family: "Open Sans";
  letter-spacing: 0.205rem;
  font-weight: bold;
}
@media (max-width: 992px) {
  .header .nav__element {
    padding: 0;
    padding-bottom: 10px;
  }
}
.header .nav__link {
  padding-bottom: 27px;
  border: 3px solid transparent;
  color: grey;
}
.header .nav__link:hover {
  border-bottom: 3px solid #08A6E4;
  color: black;
}
@media (max-width: 992px) {
  .header .nav__link:hover {
    border: 3px solid transparent;
  }
}
@media (max-width: 992px) {
  .header .nav {
    padding: 10px 0;
    border: 1px solid black;
  }
}

.btn {
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
  border: none;
  cursor: pointer;
}
.btn--blue {
  background: #08A6E4;
}
.btn--big {
  padding: 22px 157px;
  margin-top: 38px;
}
@media (max-width: 992px) {
  .btn--big {
    padding: 22px 92px;
  }
}

.opening {
  font-family: "Raleway";
  padding-top: 8.125rem;
  text-align: center;
}
.opening__header {
  font-size: 3.0625rem;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .opening__header {
    font-size: 2.1875rem;
  }
}
.opening__pargh {
  padding-bottom: 38px;
}
@media (max-width: 992px) {
  .opening__pargh {
    width: 100%;
    padding: 0 100px;
    position: center;
  }
}
.opening__image {
  width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .opening__image {
    width: 220%;
    transform: translateX(-28%);
  }
}

.container {
  padding: 0 2rem;
  font-family: "Raleway";
}

p {
  font-family: "Open Sans";
}
/*# sourceMappingURL=main.css.map */
