// $color-primary-light: #08a6e4;
$color-blueLight: #08a6e4;
$color-blue-dark: #07ace6;
$color-buttonBlue-shadow: #07ace629;
$color-shadow-light: #07ace629;
$color-black-shadow: #00000029;
$color-mainFont: #000000;
$color-pink: #fb3b64;
$color-green: #55dfb4;
$color-grey: #a5a5a5;
$color-white: #ffffff;
$color-black: black;
